---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 class="archive__subtitle">What is Redflag?</h3>
<p class="page__meta">Redflag is an organization that researches threat intelligence and provides threat intelligence services.</p>
<h3 class="archive__subtitle">Who are our customers?</h3>
<ul>
  <li class="page__meta">Safety service and safety operation personnel who meet their own work needs</li>
  <li class="page__meta">Security companies and Party A companies that expand information channels</li>
  <li class="page__meta">Scientists seeking richer experimental data</li>
</ul>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
